html <!DOCTYPE html> 
<html lang="{{ site.lang | default: "uk" }}"> 
  
  <head> 
    <meta charset="utf-8"> 
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    <title>{{ page.title | default: site.title }}</title> 

    <script type="text/javascript" src="https://cdn.weglot.com/weglot.min.js"></script>
<script>
    Weglot.initialize({
        api_key: 'wg_20324a020de0a20c22eb85251e24bc4b9'
    });
  
</script>
  </head> 
  <body> 
    {{ content }} 
  </body> </html>
